name: CI

on:
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: examples/full
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.0

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Apply
        env:
          TF_VAR_golinks_token: ${{ secrets.GOLINKS_TOKEN }}
        run: terraform apply -auto-approve

      - name: Terraform Destroy
        if: always()
        env:
          TF_VAR_golinks_token: ${{ secrets.GOLINKS_TOKEN }}
        run: terraform destroy -auto-approve
